body{
    display: flex;
    flex-direction: column;
    background-color: darkslategray;
    color: azure;
    font-family: Georgia, 'Times New Roman', Times, serif;
    align-items: center;
    justify-content: center;
}