html{
    display: grid;
}
body{
    margin: 0%;
    display: block;
    background-color: darkslategray;
    color: azure;
    font-family: Georgia, 'Times New Roman', Times, serif;
    justify-content: center;
    justify-items: center;
}
input{
    margin: 1%;
    width: 40%;
    height: 30px;
    border-end-end-radius: 5%;
    border:color(from color srgb r g b);
    border-color: grey;
}